/*Lato font by Adobe*/
@import url("https://use.typekit.net/knz5mbx.css");

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

body{
  font-family: lato, sans-serif;
}

a{
  transition: 0.6s
}

/* Header */

.topo_menor {
    background: #6fd25b;
    padding: 9px 0;
}
.topo_menor a {
    color: #0a0b0d;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.3px;
}
.topo_menor a i {
    color: #FFF;
    font-weight: normal;
}
.iconTopo span{
  background: url('../images/sprite.png');
  width:19px;
  height: 19px;
  float: left;
  margin-right: 10px;
}
.iconTopo{
  margin-right: 41px;
}
.iconTopo .whats_ico{
  background-position: 0px -1px;
}
.iconTopo .phone_ico {
  background-position: -18px -1px;
}
.topo_maior {
    background: #0a0b0d;
}

.socialTopo{
  margin-left: 37px;
  margin-right: 8px;
}

.socialTopo a{
  background: url('../images/sprite.png');
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 2px;
  margin-right: 2px;  
}

.socialTopo a.fb_icon{
  background-position: -39px -1px;
}

.socialTopo a.insta_icon{
  background-position: -61px -1px;
}

/* MENU STYLES */
.active .nav-link {
    color: #6fd25b;
}

nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 11px;
    
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #6fd25b;
  }
  /* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #6fd25b;
    height: 8px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
  
a.nav-link {
    padding: 43px 0px 39px 0 !important;
    font-weight: 500;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 13px;
    letter-spacing: 2px;
}
.navbar {
    padding: 0;
}
a.navbar-brand {
  padding-left: 41px;
}

/* SLider */
.mask_right{
  position:absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.mask_left{
  position:absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.mask_slider{
  position:absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url(../images/mask_slider.png);
  background-position-x: center;
}
.carousel {
  background: #808c80;
}
.carousel-caption{
  top: 161px;
  bottom: unset;
}
.carousel-caption h3{
  font-weight: 300;
  font-size: 41px;
  color: #f8f9f9;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 5px;
}
.carousel-caption h2{
  font-weight: 900;
  font-size: 56px;
  color: #f8f9f9;
  line-height: 61px;
  margin-bottom: 37px;
}
.carousel-caption h2 span{
  font-weight: normal;
}

a.btn.btn_verde {
  background: #6ed25b;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 13px;
  width: 295px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}

/* Quem Somos */

section.quem_somos {
  padding-top: 100px;
  padding-bottom: 29px;
  position: relative;
  background-image: url(../images/bg-quem.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.sprite {
  background: url('../images/sprite.png');
  background-repeat: no-repeat;
}
.title {
  font-size: 22px;
  font-weight: normal;
  color: #000;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}
.quem_somos .title {
 padding-bottom: 40px;
}
.texto_quem {
  padding-left: 56px;
}
.texto_quem h3 {
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}
.texto_quem p {
  color: #424d50;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}
.imagem_quem img {
  position: relative;
  left: -106px;
  top: 38px;
}
.move .title {
  color: #3c7e32;
  text-align: left;
  padding-left: 40px;
  padding-top: 20px;
}
.iconeMissao {
  width: 49px;
  height: 37px;
  background-position: -81px 2px;
}
.iconeVisao {
  width: 43px;
  height: 44px;
  background-position: -116px -1px;
}
.iconeValores {
  width: 59px;
  height: 49px;
  background-position: -146px 0px;
}
.move h5 {
  padding-left: 12px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 800;
}

/* Abrir */

.open {
  display: none;
  position: absolute;
  background: #fff;
  padding-top: 15px;
  padding-left: 22px;
  padding-bottom: 10px;
  left: -97px;
  width: 268px;
  top: 68px;
  box-shadow: 0px 0px 21px 0px rgba(117, 117, 117, 0.33); 
}
.toggle_button{
  cursor:pointer;
}
.open::after {
  content: '';
  position: absolute;
  top: -22px;
  left: 43%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 23px 23px 23px;
  border-color: transparent transparent #FFF transparent;
}
.open span {
  color: #6ed25b;
  font-weight: 800;
  font-size: 15px;
}
.missao {
  position: relative;
}
.visao {
  position: relative;
}
.valores {
  position: relative;
}

/* Seu negocio */

.seu_negocio {
  background: #757575;
  padding-bottom: 46px;
}
.seu_negocio h2 {
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 12px;
}
.seu_negocio p {
  color: #FFF;
  padding: 0 30px;
  margin-bottom: 44px;
  text-align: center;
}
.cada_negocio {
  border-right: 1px solid #6ed25b;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cada_negocio:last-child {
  border-right: none;
}
.seu_negocio h4 {
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #6ed25b;
  padding-left: 20px;
  margin-bottom: 0;
}
.iconeAtendemos {
  width: 79px;
  height: 76px;
  float: left;
  background-position: 2px -25px;
}
.iconeAgilidade {
  width: 66px;
  height: 77px;
  float: left;
  background-position: -77px -39px;
}
.iconePreco {
  width: 78px;
  height: 80px;
  float: left;
  background-position: -144px -43px;
}

/*Cases */

.cases h2.title{
  margin-top: 69px;
  margin-bottom: 23px;
}
.cases h3.subtitle_cases{
  font-size: 25px;
  font-weight: 500;
  color: #141718;
  margin-bottom: 38px;
}

.case_slider_fade{
  background: #f1f1f1;
  height: 470px;
}

.imagem_case{
  width: 50%;
  position: absolute;
  height: 470px; 
  left: 0;
  top: 0;
}
.case_item{
  position: relative;
  height: 470px;
}
.info_case{
  padding-left: 50px;
  padding-top: 58px;
  padding-right: 0;
}
h3.categoria_case {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  color: #6ed25b;
  letter-spacing: 0.04em;
  margin-bottom: 3px;
}
h2.titulo_case{
  font-weight: 500;
  color: #141718;
  font-size: 25px;
}
.descricao_case{
  font-size: 15px;
  font-weight: 400;
  color: #424d50;
  line-height: 25px;
  margin-bottom: 28px;
  margin-top: 10px;
}
.miniaturas_case {
  display: flex;
}
.cada_miniatura{
  position: relative;
  margin-right: 14px;
  display: none;
  background: #3c3c3c;
}
.cada_miniatura img {
  cursor: pointer;
}
.cada_miniatura:hover img{
  mix-blend-mode: luminosity;
}
.miniaturas_case .cada_miniatura:nth-child(1){
  display: block;
}
.miniaturas_case .cada_miniatura:nth-child(2){
  display: block;
}
.miniaturas_case .cada_miniatura:nth-child(3){
  display: block;
}
.mask_miniatura{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c5c5c5d6;
  color: #3e3e3e;
  font-size: 22px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

/* Produtos seção */

.produtos_sec{
  padding-top: 67px;
  padding-bottom: 62px;
}
.vidracaria{
  background:#dcdcdb;
}

.titulo_cat h2{
  font-weight: 900;
  color: #6ed25b;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.cada_item_produto{
  background:#fff;
  transition: 0.6s;
}
.produto_slick .slick-slide{
  margin-left: 14px;
  margin-right: 14px;
}
.produto_slick .slick-slide img{
  width: 100%;
}
.produto_slick .slick-slide.active:first-child{
  margin-left: 0;
}
.produto_slick .slick-slide.active:last-child{
  margin-right: 0;
}
.imagem_produto{
  width: 100%;
  height: 143px;
  overflow: hidden;
}
.desc_produto{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 23px;
  padding-bottom: 25px;
}
.desc_produto h3{
  font-size: 16px;
  font-weight: 900;
  color:#6ed25b;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;;
}
.desc_produto p{
  font-weight: normal;
  font-size: 13px;
  color: #424d50;
  line-height: 16px;
}

.serralheria{
  background: #f1f1f1;
}

/* Orcamento */

.orcamento {
  background: url(../images/bg-orcamento.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-height: 197px;
}

.conteudo_orcamento {
  display: flex;
  max-height: 197px;
}

.homem {
  position: relative;
  top: -23px;
  padding-left: 90px;
  padding-right: 98px;
}

.orcamento h2 {
  color: #FFF;
  font-size: 30px;
  font-weight: 800;
  line-height: 33px;
  padding-top: 30px;
  text-align: center;
}

.btn_preto {
  background: #414141;
  border-radius: 0;
  text-transform: uppercase;
  color: #FFF;
  font-size: 13px;
  width: 224px;
  height: 42px;
  display: flex;
  align-items: center;
  line-height: 10px;
  justify-content: center;
  position: relative;
  left: 17px;
  letter-spacing: 0.06em;
  margin-top: 23px;
}

/* Depoimentos */

.depoimentos {
  padding-bottom: 72px;
}

.depoimentos_lista p {
  padding-right: 69px;
  padding-left: 20px;
  line-height: 25px;
  font-style: italic;
  color: #424d50;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -6px;
}
.padding-imagem {
  padding-left: 117px;
  padding-right: 0;
}

.autor {
  padding-left: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #414141;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.autor span {
  display: block;
}

.autor span:last-child {
  color: #6ed25b;
}

.depoimentos h2 {
  color: #3c7e32;
  padding-top: 45px;
  padding-bottom: 55px;
}

/*Nossos Contatos*/
.nossos_contatos{
	background: #414141;	text-align: center;
    padding-top:57px;
    padding-bottom: 53px;
}
.nossos_contatos h2{
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.nossos_contatos h3 a{
	font-size: 22px;
	color: #6ed25b;
	letter-spacing: 0.05em;
	font-weight: 800;
}
.nossos_contatos span{
  background-image: url(../images/sprite.png);
  float: left;
  margin-right: 17px;
  width: 30px;
  height: 30px;
}
.icone_whats_contato {
  background-position: -183px 0px;
}
.icone_phone_contato{
  background-position: -215px 0px;
}

.cadaContato{
  border-right: 3px solid #6ed25b;
  padding: 5px 23px;
}
.cadaContato:last-child{
	border:none;
}

.cadaContato a:hover {
    color: #fff;
    text-decoration: none;
}

/*Envie uma mensagem */
.envie_mensagem{
	background: #272727;
	padding-top: 50px;
	padding-bottom: 44px;
}
.envie_mensagem h2{
  color: #6ed25b;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.formulario_enviemsg{
	margin-top: 51px;
}
.formulario_enviemsg input{
	width: 100%;
	background: #3c3c3c;
	border: none;
	border-radius: 3px;
	margin-bottom:19px;
	height: 46px;
}
.formulario_enviemsg input::placeholder{
	font-weight: 800;
	font-size: 13px;
	color: #6ed25b;
	text-transform: uppercase;
}
.formulario_enviemsg textarea{
	width: 100%;
	background: #3c3c3c;
	border: none;
	border-radius: 3px;
	margin-bottom:19px;
	color: #6ed25b;
	height: 182px;
}
.formulario_enviemsg textarea::placeholder{
	font-weight: 800;
	font-size: 13px;
	color: #6ed25b;
	text-transform: uppercase;
}
.form-control:focus {
    color: #ffffff;
    background-color: #3c3c3c;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #6ed25b;
}
.btn_enviar_form{
	background: #6ed25b;
	color: #FFF;
	font-weight: 800;
	font-size: 15px;
  width: 292px;
  height: 42px;
	border-radius: 3px;
}

/* FILIAL */
.localizacao_contato{
	padding-top: 54px;
	padding-bottom: 68px;
	background: #e4e4e4;
}

.endereco_localizacao p{
  text-transform: uppercase;
  font-size: 15px;
  color: #414141;
  margin-top: 10px;
}

.facebook_contato{
  width: 35px;
  height: 35px;
  margin-right: 4px;
  background-image: url(../images/sprite.png);
  background-position: -247px 0px;
}
.instagram_contato{
  width: 35px;
  height: 35px;
  margin-right: 4px;
  background-image: url(../images/sprite.png);
  background-position: -287px 0px;
}
.texto_contato{
	font-size: 18px;
	color: #414141;
	line-height: 19px;
  margin-left: 15px;
  font-weight: 500;
}
.social_contato{
	margin-top: 16px;
}

/* Slick Arrows */

.slick-next:before, .slick-prev:before{
  background-image: url(../images/sprite.png);
  width: 20px;
  height: 30px;
  display: block;
}
.slick-next:before{
  content: '';
  background-position: -340px 0px;
}
.slick-prev:before{
  content: '';
  background-position: -323px 0px;
}

/* Carousel arrows */

.carousel-control-next, .carousel-control-prev{
  z-index: 4;
  width: 17%;
  justify-content: flex-start;
  opacity: 1;
}
a.carousel-control-next{
  justify-content: flex-end;
}

.container.setas_slide {
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-prev-icon{
  background: url(../images/sprite.png);
  width: 20px;
  height: 30px;
  background-position: -323px 0px;
}
.carousel-control-next-icon{
  background: url(../images/sprite.png);
  width: 20px;
  height: 30px;
  background-position: -340px 0px;
}

/* Rodape */
.menuRoda ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.menuRoda a {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: #272727;
  margin-right: 25px;
}
.menuRoda li:last-child a {
  margin-right: 0;
}
.footer_top {
  background: #6ed25b;
  padding: 24px 0;
}
.footer_bottom {
  background: #272727;
  padding-top: 13px;
  padding-bottom: 12px;
}
.footer_bottom .socialTopo {
  margin-left: -21px;
}
.menuRoda {
  display: flex;
  align-items: center;
}

.footer_bottom a {
  font-weight: 800;
  color: #6ed25b;
  font-size: 13px;
}


/*Hover's */

a.btn.btn_verde:hover {
  background: #414141;
  color: #6fd25b;
}

.btn_preto:hover {
  background: #ffffff;
  color: #414141;
  font-weight: bold;
}

.menuRoda a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #FFF;
}

.cada_item_produto:hover {
  box-shadow: 0px 4px 11px 0px rgba(117, 117, 117, 0.33);
}